.screen {
	display: flex;
	margin: 0 auto;
	width: max-content;
	flex-direction: column;
	align-items: center;
}

.loading-screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10vh;
}

.name-input {
	margin: 5% 0;
	min-width: 400px;
	font-size: 1.5em;
	color: #fff;
	background-color: rgba(0, 0, 0, 0);
	border: 2px #fff solid;
	border-radius: 10px;
	text-align: center;
}

.name-input:focus-visible {
	border: 2px #fff solid;
	outline: none;
}

.title {
	margin: 5% 0;
	font-size: 4em;
	font-weight: bold;
}

body {
	color: #fff;
}
