.screen {
	display: flex;
	margin: 0 auto;
	width: max-content;
	flex-direction: column;
	align-items: center;
}

.name-input {
	margin: 5% 0;
	min-width: 400px;
	font-size: 1.5em;
}

.play-button {
	margin: 5% 0;
	padding: 10px 0;
	min-width: 300px;
	min-height: 30px;
	font-size: 1.5em;
}

.title {
	margin: 5% 0;
	font-size: 4em;
}