.lobby-container {
	display: flex;
	flex-direction: column;
	margin-top: 4vh;
	margin-bottom: 4vh;
}

.box-container {
	display: flex;
	padding-left: 2.5vw;
	padding-right: 2.5vw;
}

.box {
	background-color: #34495e;
	color: #fff;
	height: 60vh;
	min-width: 42.5vw;
	margin: 3vh 2.5vw 3vh 2.5vw;
	border-radius: 15px;
}

.box-inner {
	padding: 0 2vw;
}

.box-header {
	font-size: 2rem;
	text-align: center;
	margin-top: 0.5em;
}

.settings {
	font-size: 1.5rem;
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.settings-input {
	color: #fff;
	background-color: #34495e;
	font-size: 0.8em;
	border: #fff solid 1px;
}

input.settings-input {
	width: 50px;
}

input:disabled.settings-input {
	opacity: 0.7;
}

.players-list {
	display: flex;
	flex-wrap: wrap;
}

.player-badge {
	font-size: 1.5rem;
	margin: 1vh 2vw;
}
